<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="./main.css">
    <script src="https://unpkg.com/element-plus"></script>

</head>

<body>
    <div id="app">
        <div class="layout">
            <div class="line-content" ref="lineContent">
                <el-timeline style="max-width: 600px">
                    <el-timeline-item ref="timeLineItem" v-for="(card, index) in displayedTimeLineCards" :key="index" :timestamp="`${card.year}年&nbsp;&nbsp;&nbsp;${card.description}`" placement="top" type='primary' size='large'>
                        <div class="card-item">
                            <el-popover placement="right" :width="220">
                                <div style="display: flex;">
                                    <el-button size="small" type="primary" @click="() => insert(index, 0)">
                                        Insert Above
                                    </el-button>
                                    <el-button style="margin-left: 12px;" size="small" type="primary" @click="() => insert(index, 1)">
                                        Insert Blow
                                    </el-button>
                                </div>
                                <template #reference>
                    <img :src="`./images/front/${card.description}_${card.year}.png`" alt="">
                  </template>
                            </el-popover>
                        </div>
                    </el-timeline-item>
                </el-timeline>
            </div>
            <div class="play-area">
                <div class="score">
                    <div v-for="(item, index) in teamScore" :style="{backgroundImage: `url(./images/${index}.jpg)`}" class="team">
                        {{ item.score}} {{index === currentTeamIndex ? '⭐' : ''}}
                        <div :class="`operation ${index}`">
                            <div @click="() => changeScore(item, 1)">+</div>
                            <span class="spliter"></span>
                            <div @click="() => changeScore(item, -1)">-</div>
                        </div>
                    </div>
                </div>
                <div class="game-card">
                    <img src="./images//cover.jpg" alt="" v-if="showCover">
                    <img v-else :src="`./images/front/${currentCardToBeChosen.description}_${currentCardToBeChosen.year}.png`" alt="">
                    <span class="description">事件：{{ currentCardToBeChosen.description }} [{{currentCardIndex}}/{{allCards.length}}]</span>
                    <span v-if="currentCardToBeChosen.extraQuestion && !showCover" class="description">小问题：{{currentCardToBeChosen.extraQuestion.question}}  本题{{currentCardToBeChosen.extraQuestion.score}}分</span>
                    <span v-if="currentCardToBeChosen.extraQuestion && !showCover && showAnswer" class="description">答案：{{currentCardToBeChosen.extraQuestion.answer}}</span>
                    <div class="button-group">
                        <el-button type="primary" @click="next">Next Picture</el-button>
                        <el-button v-if="currentCardToBeChosen.extraQuestion && !showCover" type="primary" @click="resetShowAnswer">Show Answer</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const {
        createApp,
        ref,
        computed,
        h
    } = Vue
    const {
        ElMessage
    } = ElementPlus;

    const app = createApp({
        setup() {
            const currentTeamIndex = ref('red');
            const victorySounds = ref([
                new Audio('./audio/victory.wav'),
                new Audio('./audio/victory.wav'),
                new Audio('./audio/victory.wav'),
            ])
            const collectSounds = ref([
                new Audio('./audio/collect.wav'),
                new Audio('./audio/collect.wav'),
                new Audio('./audio/collect.wav'),
            ])
            const errorSounds = ref([
                new Audio('./audio/fail.wav'),
                new Audio('./audio/fail.wav'),
                new Audio('./audio/fail.wav'),
            ])
            const teamScore = ref({
                red: {
                    score: 0,
                    background: '#FCECED'
                },
                blue: {
                    score: 0,
                    background: '#EAF2FF'
                },
                green: {
                    score: 0,
                    background: '#E7F5F2'
                },
            });
            const allCards = ref([{
                "description": "三家分晋",
                "year": -403,
                extraQuestion: {
                    question: '三家分晋是哪三家？',
                    answer: '韩、赵、魏',
                    score: 2,
                }
            }, {
                "description": "丝绸之路",
                "year": -114,
            }, {
                "description": "中国出现铁器",
                "year": -1510
            }, {
                "description": "九品中正制",
                "year": 220,
                extraQuestion: {
                    question: '公元220年，谁建立了九品中正制？',
                    answer: '曹丕',
                    score: 1,
                }
            }, {
                "description": "二里头文化",
                "year": -1735
            }, {
                "description": "京剧出现",
                "year": 1790
            }, {
                "description": "佛教传入中国",
                "year": 67
            }, {
                "description": "元朝建立",
                "year": 1271
            }, {
                "description": "兰亭序",
                "year": 353
            }, {
                "description": "内阁制度建立",
                "year": 1402,
            }, {
                "description": "北京猿人",
                "year": -700000
            }, {
                "description": "原始农业起源",
                "year": -10000
            }, {
                "description": "史记成书",
                "year": -104,
                extraQuestion: {
                    question: '谁写了史记？他遭受了什么样的刑罚？',
                    answer: '司马迁，被宫刑',
                    score: 1,
                }
            }, {
                "description": "唐朝建立",
                "year": 618,
                extraQuestion: {
                    question: '唐太祖是谁？他最初的太子是谁？',
                    answer: '李渊，李建成',
                    score: 1,
                }
            }, {
                "description": "商汤灭夏",
                "year": -1600
            }, {
                "description": "商鞅变法",
                "year": -356
            }, {
                "description": "大禹建立夏朝",
                "year": -2070
            }, {
                "description": "孔子诞生",
                "year": -551,
                extraQuestion: {
                    question: '孔子是春秋时期的哪国人？在今哪个省份？',
                    answer: '鲁国人，山东曲阜',
                    score: 1,
                }
            }, {
                "description": "安史之乱",
                "year": 755,
                extraQuestion: {
                    question: '安史之乱中，最重要的一场战役是？唐军的领导者是谁？',
                    answer: '睢(sui)阳之战，张巡',
                    score: 2,
                }
            }, {
                "description": "宋朝建立",
                "year": 960,
                extraQuestion: {
                    question: '宋太祖是谁，他夺得皇位后用了什么著名的计谋稳固皇位？',
                    answer: '赵匡胤，杯酒释兵权',
                    score: 1,
                }
            }, {
                "description": "平王东迁",
                "year": -770
            }, {
                "description": "废除宰相制度",
                "year": 1380
            }, {
                "description": "建立行省制",
                "year": 1260
            }, {
                "description": "张骞出使西域",
                "year": -139
            }, {
                "description": "指南针发明",
                "year": 1041
            }, {
                "description": "文景之治",
                "year": -180,
                extraQuestion: {
                    question: '文景之治是汉代哪两任皇帝的治世？',
                    answer: '汉文帝，汉景帝',
                    score: 1,
                }
            }, {
                "description": "明朝建立",
                "year": 1368,
                extraQuestion: {
                    question: '明朝最初建都在哪？',
                    answer: '南京',
                    score: 1,
                }
            }, {
                "description": "最早的纸币",
                "year": 1023,
                extraQuestion: {
                    question: '中国最早的纸币叫啥',
                    answer: '交子',
                    score: 1,
                }
            }, {
                "description": "本草纲目成书",
                "year": 1578
            }, {
                "description": "楚汉相争",
                "year": -206,
                extraQuestion: {
                    question: '列举两个秦末及楚汉相争的成语',
                    answer: '十面埋伏，明修栈道暗度陈仓，霸王别姬，约法三章，运筹帷幄，破釜沉舟，约法三章，沐猴而冠，衣锦夜行',
                    score: 3,
                }
            }, {
                "description": "武则天登基",
                "year": 690,
                extraQuestion: {
                    question: '武则天的国号是什么',
                    answer: '周',
                    score: 1,
                }
            }, {
                "description": "武王伐纣",
                "year": -1046,
                extraQuestion: {
                    question: '以武王伐纣为原型所创作的神仙志怪小说是？',
                    answer: '封神演义',
                    score: 1,
                }
            }, {
                "description": "河姆渡文化",
                "year": -5000
            }, {
                "description": "活字印刷",
                "year": 1045,

            }, {
                "description": "清军入关",
                "year": 1644
            }, {
                "description": "清明上河图",
                "year": 1101,
                extraQuestion: {
                    question: '清明上河图描述了北宋哪座城市的盛况？',
                    answer: '东京汴京',
                    score: 1,
                }
            }, {
                "description": "清朝建立",
                "year": 1636
            }, {
                "description": "玄奘西行",
                "year": 627,
                extraQuestion: {
                    question: '玄奘西行的目的地是哪？',
                    answer: '天竺',
                    score: 1,
                }
            }, {
                "description": "王安石变法",
                "year": 1069
            }, {
                "description": "科举制度第一次出现",
                "year": 607
            }, {
                "description": "秦国扫六横",
                "year": -221
            }, {
                "description": "秦长城完建",
                "year": -215
            }, {
                "description": "红楼梦成书",
                "year": 1791,
                extraQuestion: {
                    question: '红楼梦原名什么？',
                    answer: '石头记',
                    score: 1,
                }
            }, {
                "description": "罢黜百家独尊儒术",
                "year": -134,
                extraQuestion: {
                    question: '谁提出了罢黜百家独尊儒术？',
                    answer: '董仲舒',
                    score: 1,
                }
            }, {
                "description": "老子诞生",
                "year": -571,
                extraQuestion: {
                    question: '老子的学派是什么？其核心思想用四个字概括是什么',
                    answer: '道教，无为而治',
                    score: 1,
                }
            }, {
                "description": "蔡伦发明造纸术",
                "year": 105
            }, {
                "description": "虎门销烟",
                "year": 1839
            }, {
                "description": "设立军机处",
                "year": 1729
            }, {
                "description": "赤壁之战",
                "year": 208
            }, {
                "description": "越国灭吴",
                "year": -475
            }, {
                "description": "道教创立",
                "year": 142
            }, {
                "description": "闭关锁国",
                "year": 7123
            }, {
                "description": "青铜器",
                "year": -3000
            }, {
                "description": "马可波罗抵达大都",
                "year": 1275,
                extraQuestion: {
                    question: '马可波罗是哪国人？',
                    answer: '意大利',
                    score: 1,
                }
            }, {
                "description": "黄巾起义",
                "year": 184,
            }, {
                "description": "七七事变",
                "year": 1937
            }, {
                "description": "上海世博会",
                "year": 2010
            }, {
                "description": "中共一大",
                "year": 1921,
                extraQuestion: {
                    question: '中共一大旧址在上海地铁哪站？',
                    answer: '黄陂南路',
                    score: 1,
                }
            }, {
                "description": "中华人民共和国第一部宪法",
                "year": 1954
            }, {
                "description": "中国加入世贸",
                "year": 2001
            }, {
                "description": "中国奥运第一金",
                "year": 1984,
                extraQuestion: {
                    question: '中国奥运第一金是什么大类？运动员是谁',
                    answer: '射击，许海峰',
                    score: 2,
                }
            }, {
                "description": "中国恢复联合国席位",
                "year": 1971
            }, {
                "description": "中国第一条铁路",
                "year": 1876,
                extraQuestion: {
                    question: '这条铁路叫什么？',
                    answer: '沪淞铁路',
                    score: 2,
                }
            }, {
                "description": "八国联军侵华",
                "year": 1900
            }, {
                "description": "共和国成立",
                "year": 1949
            }, {
                "description": "北京奥运会",
                "year": 2008
            }, {
                "description": "抗美援朝",
                "year": 1950,
                extraQuestion: {
                    question: '抗美援朝一共几次战役',
                    answer: '五次',
                    score: 1,
                }

            }, {
                "description": "洋务运动",
                "year": 1861
            }, {
                "description": "甲午战争",
                "year": 1894
            }, {
                "description": "第一次春晚",
                "year": 1983
            }, {
                "description": "第一颗原子弹爆炸",
                "year": 1964,
                extraQuestion: {
                    question: '爆炸的地点叫什么？',
                    answer: '罗布泊',
                    score: 1,
                }
            }, {
                "description": "辛亥革命",
                "year": 1911
            }, {
                "description": "长征结束",
                "year": 1936
            }, {
                "description": "香港回归",
                "year": 1997,
                extraQuestion: {
                    question: '香港回归时英国的首相是谁？他/她的党派是什么？',
                    answer: '撒切尔夫人，保守党',
                    score: 2,
                }
            }, {
                "description": "鸦片战争",
                "year": 1840
            }].sort(() => 0.5 - Math.random()))
            const timeLineCards = ref([allCards.value[0]]);
            const currentCardIndex = ref(1);
            const showCover = ref(true);
            const showAnswer = ref(false);
            const timeLineItem = ref();
            const lineContent = ref(null);

            const displayedTimeLineCards = computed(() => {
                return timeLineCards.value.toSorted((a, b) => a.year - b.year)
            })

            const currentCardToBeChosen = computed(() => {
                return allCards.value[currentCardIndex.value]
            })

            const next = () => {
                if (currentCardIndex.value + 1 >= allCards.value.length) {
                    playRandomSound(victorySounds.value)
                    alert(`Game Over. The winner is ${getWinner()}.`);
                    return
                }
                showCover.value = true;
                currentCardIndex.value++;
                showAnswer.value = false;
            }

            const getWinner = () => {
                const winners = []
                let maxScore = -99999
                for (const index in teamScore.value) {
                    if (teamScore.value[index].score > maxScore) {
                        maxScore = teamScore.value[index].score
                    }
                }
                for (const index in teamScore.value) {
                    if (teamScore.value[index].score === maxScore) {
                        winners.push(index)
                    }
                }
                return winners.join(', ')
            }

            const getNextIndex = (color) => {
                const colors = ["red", "blue", "green"];
                const index = colors.indexOf(color);
                return colors[(index + 1) % colors.length];
            }

            const insert = (index, direction) => {
                if (!showCover.value) {
                    return;
                }
                timeLineCards.value.splice(index, 0, currentCardToBeChosen.value);
                showCover.value = false;
                const realIndex = displayedTimeLineCards.value.findIndex(card => card.description === currentCardToBeChosen.value.description);
                if (realIndex !== index + direction) {
                    ElMessage({
                        message: h('img', {
                            src: './images/wrong.png'
                        }),
                    });
                    changeScore(teamScore.value[currentTeamIndex.value], -1);
                    playRandomSound(errorSounds.value)
                } else {
                    ElMessage({
                        message: h('img', {
                            src: './images/correct.png'
                        }),
                    });
                    changeScore(teamScore.value[currentTeamIndex.value], 1);
                    playRandomSound(collectSounds.value)
                }
                currentTeamIndex.value = getNextIndex(currentTeamIndex.value);
                const timeLineItemHeight = timeLineItem.value[0].$el.clientHeight;
                lineContent.value.scrollTo({
                    top: timeLineItemHeight * realIndex,
                    behavior: 'smooth'
                });
            }

            const changeScore = (team, score) => {
                team.score += score;
            }
            const playRandomSound = (sounds) => {
                const sound = sounds[Math.floor(Math.random() * sounds.length)];
                sound.play();
            }
            const resetShowAnswer = () => {
                showAnswer.value = true;
            }

            return {
                timeLineCards,
                teamScore,
                displayedTimeLineCards,
                currentCardIndex,
                currentCardToBeChosen,
                showCover,
                showAnswer,
                currentTeamIndex,
                timeLineItem,
                lineContent,
                allCards,
                next,
                insert,
                changeScore,
                resetShowAnswer
            }
        }
    })
    app.use(ElementPlus);
    app.mount('#app');
</script>

</html>